.display-movie {
    padding: 24px;
}

.movie__img {
    max-height: 320px;
    max-width: 250px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.display-movie:hover .movie__img {
    transform: scale(1.03);
}